################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Layouts/StackLayout/XF_StackLayout_Code
